<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>ShareKnow - Gerir Explicações</title>
        <!-- Favicon-->
        <link rel="icon" type="image/x-icon" href="../static/images/favicon.png" />
        <!-- Bootstrap icons-->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" />
        <!-- Core theme CSS (includes Bootstrap)-->
        <link href="../static/css/styles.css" rel="stylesheet" />
        <link href="../static/css/default.css" rel="stylesheet" />
    </head>
    <body>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container px-4 px-lg-5">
                <a class="navbar-brand" href="#!">ShareKnow</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-lg-4">
                        {% if current_user.isTeacher == True %}
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">Explicações</a>
                                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                    <li><a class="dropdown-item" href="/lessons">Ver todas</a></li>
                                    <li><a class="dropdown-item" href="/manage-lessons">Gerir</a></li>
                                </ul>
                            </li>
                        {% else %}
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">Explicações</a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <li><a class="dropdown-item" href="/lessons">Ver todas</a></li>
                                <li><a class="dropdown-item" href="/my-lessons">Ver inscritas</a></li>
                            </ul>
                        </li>
                        <li class="nav-item"><a class="nav-link" href="/manage-requests">Requisições</a></li>
                        {% endif %}
                    </ul>
                    <ul class="navbar-nav">
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">{{ current_user.name }}</a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <li><a class="dropdown-item" href="/account/profile">Perfil</a></li>
                                <li><a class="dropdown-item" href="/account/security">Segurança</a></li>
                                <li><a class="dropdown-item" href="/payments">Pagamentos</a></li>
                                <li><a class="dropdown-item" href="/logout">Sair</a></li>
                            </ul>
                        </li>
                    </ul>
                    
                </div>
            </div>
        </nav>
        
        <!-- Header-->
        <header class="bg-custom-blue py-5">
            <div class="container px-4 px-lg-5 my-5">
                <div class="text-center text-white">
                    <h1 class="display-4 fw-bolder">Gerir explicações</h1>
                    <p class="lead fw-normal text-white-50 mb-0">Actualize informações de explicações e aprove requisições de estudantes.</p>
                </div>
            </div>
        </header>
        <!-- Section-->
        <section class="py-5">
            <div class="container">
                <div class="text-center">
                    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#postLesson">Publicar explicação</button>
                </div>

                <!-- Post Lesson Modal -->
                <div class="modal fade" id="postLesson" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Publicar explicação</h5>
                            <button class="btn" type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                            </div>
                            <div class="modal-body">
                                <form method="POST" id="postLessonForm" action="/lesson/add">
                                    <div class="form-floating mb-3">
                                    <input type="text" class="form-control" id="floatingInput" name="subject" placeholder="Disciplina">
                                    <label for="floatingInput">Disciplina</label>
                                    </div>
                                    <div class="form-floating mb-3">
                                    <input type="text" class="form-control" id="floatingInput" name="theme" placeholder="Matéria">
                                    <label for="floatingPassword">Matéria</label>
                                    </div>
                                    <div class="form-floating mb-3">
                                        <input type="text" class="form-control" id="floatingInput" name="zoom_link" placeholder="Link do Zoom">
                                        <label for="floatingPassword">Link do Zoom</label>
                                    </div>
                                    <div class="form-floating mb-3">
                                        <input type="text" class="form-control" id="floatingInput" name="schedule" placeholder="Horário">
                                        <label for="floatingPassword">Horário</label>
                                    </div>
                                    <div class="form-floating mb-3">
                                        <input type="number" class="form-control" id="floatingInput" name="price" placeholder="Preço mensal">
                                        <label for="floatingPassword">Preço mensal</label>
                                    </div>
                                </form>
                            </div>
                            <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
                            <button type="button" class="btn btn-primary" onclick="document.getElementById('postLessonForm').submit()">Salvar</button>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- End Modal -->

                <!-- Lesson -->
                {% for lesson in lessons %}
                <div class="pt-4 row gx-4 gx-lg-12 row-cols-2 row-cols-md-3 row-cols-xl-2 justify-content-center">
                    <div class="col mb-1">
                        <div class="card h-100">
                            <!-- Lesson details-->
                            <div class="card-body p-4">
                                <div class="text-left">
                                    <!-- Lesson subject -->
                                    <h5 class="fw-bolder">{{ lesson.subject }}</h5>
                                    <!-- Lesson Theme-->
                                    <h6>Matéria: {{ lesson.theme }}</h6>
                                    <!-- Lesson Schedule -->
                                    <p><b>Horário:</b> {{ lesson.schedule }}</p>
                                    <b>Zoom Link:</b> <a href="{{ lesson.zoom_link }}">{{ lesson.zoom_link }}</a>
                                </div>
                            </div>
                            <!-- Product actions-->
                            <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                                <div class="text-left">
                                    <a class="btn btn-outline-primary mt-auto" data-bs-toggle="modal" data-bs-target="#manageLesson-{{ lesson.id }}" href="#">Alterar</a>
                                    <a class="btn btn-outline-primary mt-auto" data-bs-toggle="modal" data-bs-target="#students-{{ lesson.id }}" href="#">Estudantes</a>
                                    <a class="btn btn-outline-primary mt-auto" data-bs-toggle="modal" data-bs-target="#requests-{{ lesson.id }}" href="#">Requisições</a>
                                    <a class="btn btn-outline-primary mt-auto" href="/lesson/delete?lesson_id={{ lesson.id }}">Apagar</a>
                                </div>
                            </div>
                        </div>
                    </div>

                    
                    <!-- Manage Lesson Modal -->
                    <div class="modal fade" id="manageLesson-{{ lesson.id }}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">Gerir</h5>
                                <button class="btn" type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                                </div>
                                <div class="modal-body">
                                    <h6>Informações da explicação</h6>
                                    <form method="POST" id="manageLessonForm" action="/lesson/edit">
                                        <input type="hidden" name="lesson_id" value="{{ lesson.id }}">
                                        <div class="form-floating mb-3">
                                        <input type="text" class="form-control" id="floatingInput" name="subject" placeholder="" value="{{ lesson.subject }}">
                                        <label for="floatingInput">Disciplina</label>
                                        </div>
                                        <div class="form-floating mb-3">
                                        <input type="text" class="form-control" id="floatingInput" name="theme" placeholder="" value="{{ lesson.theme }}">
                                        <label for="floatingPassword">Matéria</label>
                                        </div>
                                        <div class="form-floating mb-3">
                                            <input type="text" class="form-control" id="floatingInput" name="zoom_link" placeholder="" value="{{ lesson.zoom_link }}">
                                            <label for="floatingPassword">Link do Zoom</label>
                                        </div>
                                        <div class="form-floating mb-3">
                                            <input type="text" class="form-control" id="floatingInput" name="schedule" placeholder="" value="{{ lesson.schedule }}">
                                            <label for="floatingPassword">Horário</label>
                                        </div>
                                        <div class="form-floating mb-3">
                                            <input type="number" class="form-control" id="floatingInput" name="price" placeholder="" value="{{ lesson.price }}">
                                            <label for="floatingPassword">Preço mensal</label>
                                        </div>
                                    </form>
                                    <hr/>
                                </div>
                                <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
                                <button type="button" class="btn btn-primary" onclick="document.getElementById('manageLessonForm').submit()">Salvar</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- End Modal -->

                    <!-- Students Modal -->
                    <div class="modal fade" id="students-{{ lesson.id }}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">Estudantes</h5>
                                <button class="btn" type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                                </div>
                                <div class="modal-body">
                                    <table class="table table-bordered">
                                        <thead>
                                          <tr>
                                            <th scope="col">#</th>
                                            <th scope="col">Nome</th>
                                            <th scope="col">Celular</th>
                                            <th scope="col">Endereço</th>
                                            <th scope="col">Acção</th>
                                          </tr>
                                        </thead>
                                        <tbody>
                                            {% for subscription in subscriptions %}
                                            {% if subscription.lesson_id == lesson.id %}
                                          <tr>
                                            <th scope="row">{{ subscription.id }}</th>
                                            {% for user in users %}
                                                    {% if user.id == subscription.student_id %}
                                                        <td>{{ user.name }}</td>
                                                        <td>{{ user.phone }}</td>
                                                        <td>{{ user.address }}</td>
                                                        <td><a class="btn btn-outline-danger mt-auto" href="/lesson/subscription/delete?subscription_id={{ subscription.id }}">Remover</a></td>
                                                    {% endif %}
                                            {% endfor %}
                                          </tr>
                                          {% endif %}
                                          {% endfor %}
                                        </tbody>
                                      </table>
                                </div>
                                <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- End Modal -->

                    <!-- Requests Modal -->
                    <div class="modal fade" id="requests-{{ lesson.id }}" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">Requisições</h5>
                                <button class="btn" type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                                </div>
                                <div class="modal-body">
                                    <table class="table table-bordered">
                                        <thead>
                                          <tr>
                                            <th scope="col">#</th>
                                            <th scope="col">Estudante</th>
                                            <th scope="col">Tempo</th>
                                            <th scope="col">Disciplina</th>
                                            <th scope="col">Acção</th>
                                          </tr>
                                        </thead>
                                        <tbody>
                                          {% for request in requests %}
                                            {% if request.lesson_id == lesson.id %}
                                            <tr>
                                                <th scope="row">{{ request.id }}</th>
                                                {% for user in users %}
                                                    {% if user.id == request.student_id %}
                                                        <td>{{ user.name }}</td>
                                                    {% endif %}
                                                {% endfor %}
                                                <td>{{ request.created_at }}</td>
                                                <td>{{ lesson.subject }}</td>
                                                <td><a class="btn btn-outline-primary mt-auto" href="/lesson/subscription/add?request_id={{ request.id }}">Aprovar</a></td>
                                            </tr>
                                            {% endif %}
                                          {% endfor %}
                                        </tbody>
                                      </table>
                                </div>
                                <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- End Modal -->
                </div>
                {% endfor %}
            </div>
        </section>
        <!-- Footer-->
        <footer class="py-5 bg-custom-blue">
            <div class="container"><p class="m-0 text-center text-white">Copyright &copy; ShareKnow 2022</p></div>
        </footer>
        <!-- Bootstrap core JS-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
        <!-- Core theme JS-->
        <script src="js/scripts.js"></script>
    </body>
</html>
