<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>ShareKnow - Gerir Requisições</title>
        <!-- Favicon-->
        <link rel="icon" type="image/x-icon" href="../static/images/favicon.png" />
        <!-- Bootstrap icons-->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" />
        <!-- Core theme CSS (includes Bootstrap)-->
        <link href="../static/css/styles.css" rel="stylesheet" />
        <link href="../static/css/default.css" rel="stylesheet" />
    </head>
    <body>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container px-4 px-lg-5">
                <a class="navbar-brand" href="#!">ShareKnow</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-lg-4">
                        {% if current_user.isTeacher == True %}
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">Explicações</a>
                                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                    <li><a class="dropdown-item" href="/lessons">Ver todas</a></li>
                                    <li><a class="dropdown-item" href="/my-lessons">Ver inscritas</a></li>
                                    <li><a class="dropdown-item" href="/manage-lessons">Gerir</a></li>
                                </ul>
                            </li>
                            <li class="nav-item"><a class="nav-link" href="/manage-requests">Requisições</a></li>
                        {% else %}
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">Explicações</a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <li><a class="dropdown-item" href="/lessons">Ver todas</a></li>
                                <li><a class="dropdown-item" href="/my-lessons">Ver inscritas</a></li>
                            </ul>
                        </li>
                        <li class="nav-item"><a class="nav-link" href="/manage-requests">Requisições</a></li>
                        {% endif %}
                    </ul>
                    <ul class="navbar-nav">
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">{{ current_user.name }}</a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <li><a class="dropdown-item" href="/account/profile">Perfil</a></li>
                                <li><a class="dropdown-item" href="/account/security">Segurança</a></li>
                                <li><a class="dropdown-item" href="/payments">Pagamentos</a></li>
                                <li><a class="dropdown-item" href="/logout">Sair</a></li>
                            </ul>
                        </li>
                    </ul>
                    
                </div>
            </div>
        </nav
        
        <!-- Header-->
        <header class="bg-custom-blue py-5">
            <div class="container px-4 px-lg-5 my-5">
                <div class="text-center text-white">
                    <h1 class="display-4 fw-bolder">Gerir requisições</h1>
                    <p class="lead fw-normal text-white-50 mb-0">Realize pagamente para que a sua requisição seja aprovada ou cancele-a.</p>
                </div>
            </div>
        </header>
        <!-- Section-->
        <section class="py-5">
            <div class="container">
                <div class="text-center">
                    <h4>Requisições</h4>
                </div>
                <!-- Request -->
                {% for req in requests %}
                <div class="pt-4 row gx-4 gx-lg-12 row-cols-2 row-cols-md-3 row-cols-xl-2 justify-content-center">
                    <div class="col mb-1">
                        <div class="card h-100">
                            <!-- Lesson details-->
                            <div class="card-body p-4">
                                <div class="text-left">
                                    {% for lesson in lessons %}
                                        {% if lesson.id == req.lesson_id %}
                                            <!-- Lesson subject -->
                                            <h5 class="fw-bolder">{{ lesson.subject }}</h5>
                                            <!-- Lesson Theme-->
                                            <h6>Matéria: {{ lesson.theme }}</h6>
                                            <!-- Lesson Schedule -->
                                            <p><b>Horário:</b> {{ lesson.schedule }}</p>
                                            <!-- Lesson Teacher -->
                                            <!-- Lesson Teacher -->
                                                {% for teacher in teachers %}
                                                    {% if teacher.id == lesson.teacher_id %}
                                                    <p><b>Explicador:</b> {{ teacher.name }}</p>
                                                    {% endif %}
                                                {% endfor %}
                                            <p><b>Preço:</b> ${{ lesson.price }}</p>
                                        {% endif %}
                                    {% endfor %}
                                </div>
                            </div>
                            <!-- Product actions-->
                            <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                                <div class="text-left">
                                    {% for lesson in lessons %}
                                        {% if lesson.id == req.lesson_id %}
                                        <form name="topaypal" action="https://www.sandbox.paypal.com/cgi-bin/webscr" method="post">
                                            <input type="hidden" name="cmd" value="_xclick-subscriptions">
                                            <input type="hidden" name="custom" value="{{ current_user.name }}"/>
                                            <input type="hidden" name="business" value="sb-43gf47r22309394@business.example.com">
                                            <input type="hidden" name="item_name" value="subscription button">
                                            <input type="hidden" name="item_number" value="500">
                                            <input type="hidden" name="no_shipping" value="1">
                                            <input type="hidden" name="a3" value="{{ lesson.price }}">
                                            <input type="hidden" name="p3" value="1">
                                            <input type="hidden" name="t3" value="M">
                                            <input type="hidden" name="src" value="1">
                                            <input type="hidden" name="sra" value="1">
                                            <input type="hidden" name="return" value="http://127.0.0.1:5000/payment/paypal/success?request_id={{ req.id }}&amount={{ lesson.price }}">
                                            <input type="hidden" name="cancel_return" value="http://127.0.0.1:5000/payment/paypal/failed">
                                            <input type="hidden" name="notify_url" value="http://127.0.0.1:5000/ipn/">
                                            <input type="submit" value="Realizar pagamento" name="submit" title="PayPal - The safer, easier way to pay online!" class="btn btn-dark">
                                            <a class="btn btn-outline-danger mt-auto" href="/request/delete?request_id={{ req.id }}">Cancelar</a>
                                        </form>	
                                        {% endif %}
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </section>
        <!-- Footer-->
        
        <!-- Bootstrap core JS-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
        <!-- Core theme JS-->
        <script src="js/scripts.js"></script>
    </body>
</html>
